# Python cache
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# OS temporary files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
~$*

# Raw municipal dataset is too large for GitHub
data/raw/SD_05_Cottom_et_al_V1.1.0-G-1223_SPOT_MFA_Outputs_Municipal.xlsx